.navbar {
    height: 50px;
    background-color: #634120;
    position: static;
    

    .content {
        display: flex;
        justify-content: center;

        .links{
            color: black;
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            
            font-size: 15px;
            

            div {
                padding: 12px;
                cursor: pointer;
                width: 100px;
                text-align: center;
                transition: 0.5s;
                font-weight: bold;
                &:hover {
                    border-bottom: 3px solid #fff;
                    color: #fff;
                    
                }
            }
        }
    }
}

